<div class="banner" id="list_banner">
  <div class="container">
    <h1 class="text-center"><%= @list.name %></h1>
  </div>
</div>
<div class="container my-4">
  <div class="row pb-5 border-bottom">
    <div class="col-9 show-wrapper">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-trip">
          <%= image_tag bookmark.movie.poster_url %>
          <div class="card-trip-infos">
            <div>
              <h2><%= bookmark.movie.title %> • <%= bookmark.movie.rating.round(1) %> <i class="fa-solid fa-star"></i></h2>
              <p><%= bookmark.movie.overview %></p>
            </div>
          </div>
          <div class="card-trip-footer">
            <p><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
            <%= link_to "delete", bookmark_path(bookmark), data:{ turbo_method: :delete, turbo_confirm: "Are you sure ?" }, class: "delete" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-3">
      <div class="card-trip card-form">
        <div class="card-trip-infos">
          <div>
            <h2 class="mb-3 form-title">Add a new bookmark</h2>
            <%= simple_form_for [@list, @bookmark] do |f| %>
              <%= f.association :movie %>
              <%= f.input :comment %>
              <%= f.submit class: "btn btn-flat" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-6">
      <h2 class="mb-2">Reviews</h2>
      <% @list.reviews.each do |review| %>
        <div class="border-bottom d-flex justify-content-between align-items-end py-2">
          <p class="p-0 m-0"><%= review.comment %></p>
          <p class="p-0 m-0"><small>Rating : <%= review.rating %></small></p>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <div class="card-trip">
        <div class="card-trip-infos">
          <div class="w-100">
            <h2 class="form-title mb-3">Review this list</h2>
            <%= simple_form_for [@list, @review] do |f| %>
              <%= f.input :comment %>
              <%= f.input :rating, collection: 0..5, as: :radio_buttons, class:"ratings" %>
              <%= f.submit class:"btn btn-flat" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
